* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(125, 112, 186);
    background: linear-gradient(90deg, rgba(125, 112, 186, 1) 35%,
     rgba(222, 193, 255, 1) 78%);
    margin-top: -100px;
}

main {
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    background-color: #343633;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.search {
    display: flex;
}

.search input {
    padding: 5px;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
}

.search button {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 15px;
}

.search button i {
    font-size: 40px;
}

.content {
    margin-top: 10px;
    justify-content: space-between;
    word-break: break-word;
}

.content img {
    min-width: 120px;
    background-image: radial-gradient(#b5b5b5, #f7f7f7 70%);
    border-radius: 70px;
}

.degrees,
.wind {
    font-size: 20px;
    font-weight: 300;
}